#wrapper {
  width: 768px;
  margin: 0px auto;
}

.inset-container {
  background: rgb(0,0,0); /* Fallback */
  background: rgba(0,0,0,0.28);
  border: 1px solid #373737;
  width: 230px;
  margin: 0 auto;
  padding: 15px;
}

.arrow-divider {
  margin: 30px 0;
  width: 45px;
}

.container-step {
  width: 240px;
  height: 40px;
  margin: 0;
}

  #badge {
    display: block;
    height: 60px;
    margin: 15px auto 0 auto;
  }

  .container-step .icon {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    display: block;
  }

  .container-step .icon img {
    height: 40px;
  }

  .container-step h1 {
    text-align: left;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    color: #ffffff;
    margin: 0;
  }

  .container-step h2 {
    text-align: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    margin: 0;
  }

  #appLink {
    line-height: 40px;
    float: left;
    vertical-align: middle;
    text-align: left;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    margin: 0;
  }
